---
layout: archive
permalink: /telling-stories-with-data/podcast/
author_profile: true
---

{% include base_path %}
{% for post in site.D3 reversed %}
  {% include archive-single.html %}
{% endfor %}

<div class="l-row">
  <div class="l-column  small-valign-top tracks__track__content">
    <ul class="inline-list inline-list--truncate-single-line tracks__track__eyebrow">

<!---->      </ul>
      
    <h2 class="tracks__track__headline spread">
        <span class="we-truncate we-truncate--multi-line " dir="">
    

      <div class="we-clamp we-clamp--visual" data-clamp="" style="--clamp-lines: 1" dir="ltr">UGA On The Television &amp; Our Favorite Moments</div>


    </h2>

        <div class="we-truncate we-truncate--multi-line  tracks__track__copy" dir="">
    

      <div class="we-clamp we-clamp--visual" data-clamp="" style="--clamp-lines: 3" dir="ltr">With the NFL Draft coming up next week, we thought we'd bring Ben Leathers back to do a deep dive on Kirby Smart's recent dominance with the draft. Could he be gunning for Saban?</div>

      <h3 class="inline-list__item inline-list__item--margin-inline-start-large tracks__track__eyebrow-item">
        <time data-test-we-datetime="" datetime="2023-04-20T07:00:00.000Z" aria-label="April 20, 2023" class="">APR 20, 2023</time>
      
      </h3>
      <li><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5tZWdhcGhvbmUuZm0vbG9ja2VkLW9uLWJ1bGxkb2dz/episode/OTlmODIxNjgtZGYyZS0xMWVkLTg1MTEtOWI5OGNhYjQzYTY4?sa=X&ved=0CAUQkfYCahcKEwioir_y5sH-AhUAAAAAHQAAAAAQNQ">Google Podcast</a></li>
      <li><a href="https://podcasts.apple.com/us/podcast/uga-on-the-television-our-favorite-moments/id1416696175?i=1000609770350">Apple Podcast</a></li>
      <li><a href="https://youtu.be/_nKFRkjvGus">YouTube</a>
    </li>

    <ul class="tracks__track__meta inline-list inline-list--truncate-single-line tracks__track__subcopy  tracks__track__meta--has-button">
        <li class="inline-list__item inline-list__item--button tracks__track__button">
            <button aria-label="Play ‘UGA On The Television &amp; Our Favorite Moments’ by @@podcastArtist@@" class="icon we-button we-button--pill-small we-button--pill-podcast we-button--spinner icon-play" type="button">
PLAY
</button>

        </li>

<!----><!---->
        <li class="inline-list__item inline-list__item--margin-inline-start-small">25 min</li>
<!---->      </ul>

<!---->
<!---->    </div>
</div>